

<% if User.current.allowed_to?(:view_issues, @project) %>

<div class="issues box">
  <h3><%=l(:label_project_wiki)%></h3>
  <%- if page = Page.find("/projects/#{@project.name}") %>
    <%= page.html_data.html_safe %>
    <%= link_to l(:label_project_description_edit), edit_project_descriptions_path(@project) %>
  <%- else %>
    <%= link_to l(:label_new_project_descriptions), new_project_descriptions_path(@project) %>

  <%- end %>

</div>
<% end %>